table {
	font-size: 12pt;
    border-collapse: separate;
	border: 1px solid grey;
	border-radius: .5em;
}

td, td {
	padding: 0 .5em;
	line-height: 1.5em;
}

tr {
	border-bottom: 1px solid grey;
}

#search {
	margin-bottom: 1em;
}