<h2>All Covers</h2>

<section id="search">
	<p>
		Imagine a search interface here...
	</p>
	<button>Search</button>
</section>

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Year</th>
		<th>Origin</th>
		<th>Destination</th>
		<th>Details</th>
	</tr>
	<tr *ngFor="let cover of covers">
		<td>{{ cover.id }}</td>
		<td>{{ cover.name }}</td>
		<td>{{ cover.year }}</td>
		<td>{{ cover.origin }}</td>
		<td>{{ cover.destination }}</td>
		<td>
			<a class="link-button" routerLink="none">View</a>
		</td>
	</tr>
</table>
