<h2>Add New Cover</h2>

<form [formGroup]="form">
	<mat-form-field>
		<mat-label for="cover-name">Name</mat-label>
		<input matInput id="cover-name" type="test" formControlName="name">
	</mat-form-field><br>

	<mat-form-field>
		<mat-label for="cover-year">Year</mat-label>
		<input matInput id="cover-year" type="number" step="1" formControlName="year">
	</mat-form-field><br>

	<mat-form-field>
		<mat-label for="cover-origin">Origin</mat-label>
		<input matInput id="cover-origin" type="text" step="1" formControlName="origin">
	</mat-form-field>

	<mat-form-field>
		<mat-label for="cover-destination">Destination</mat-label>
		<input matInput id="cover-destination" type="text" step="1" formControlName="destination">
	</mat-form-field><br>

	<div class="side-by-side">
		<mat-spinner
			*ngIf="processing"
			[diameter]="30"
			[strokeWidth]="4"
		></mat-spinner>
		<button
			mat-flat-button
			color="primary"
			type="submit"
			(click)="save()"
			[disabled]="processing || form.invalid"
		>Save</button>
	</div>

</form>