/* You can add global styles to this file, and also import other style files */
h2 {
	padding-left: .4em;
	font-size: 16pt;
}

.snackbar-error {
	--mdc-snackbar-container-color: rgb(236, 212, 130);
	--mdc-snackbar-supporting-text-color: black;
	--mat-snack-bar-button-color: black;
	& .mat-mdc-button {
		background-color: orange;
	}
}

.snackbar-message {
	--mdc-snackbar-container-color: rgb(180, 239, 243);
	--mdc-snackbar-supporting-text-color: black;
	--mat-snack-bar-button-color: black;
	& .mat-mdc-button {
		background-color: rgb(134, 212, 243);
	}
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
