<p>
	The purpose of this app is to fulfill all cover-collecting needs.
	However, it can only do that when needs are communicated as application specifications.
	The app ain't broke if it was never specified to need to do a thing.
</p>
<p>A broken app will have symptoms like...</p>
<ul>
	<li>Errors in the console.</li>
	<li>Buttons don't respond.</li>
	<li>A form gets stuck infinitely loading.</li>
	<li>A page won't load.</li>
	<li>Data isn't saved or is lost.</li>
</ul>
<p>A feature request sounds more like...</p>
<ul>
	<li>The app did X, but I wanted Y.</li>
	<li>There's no way to do X.</li>
	<li>I don't want X to happen.</li>
</ul>
<p>
	Why does the difference matter?
	I'm the anti-microsoft: I prioritize bug-fixes over features.
	We want change requests properly identified as bugs or features to ensure bugs get fixed first.
</p>
