<h2>
	Help Topics
	<button
		mat-flat-button
		(click)="openDevTools()"
	>Open Console</button>
</h2>

<div class="side-by-side">
	<ul>
		<li *ngFor="let entry of entries; let i = index">
			<button
				class="side-nav-button"
				(click)="select(i)"
				[ngClass]="isSelected(i) ? 'selected' : ''"
			>
				<h3>{{ entry.name }}</h3>
			</button>
		</li>
	</ul>

	<section id="content">
		<div *ngFor="let entry of entries; let i = index">
			<div *ngIf="isSelected(i)">
				<ng-container *ngComponentOutlet="entry.component"></ng-container>
			</div>
		</div>
	</section>
</div>


