h2 {
	display: flex;
	justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0 0 0 -4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

li {
	display: flex;
}

.side-nav-button {
	flex-grow: 1;
	min-height: 50px;
	background-color: rgb(193, 236, 226);
	border-radius: 2em 0 0 2em;
	border: none;
	padding: 0 1em 0 0;
	display: flex;
	align-items: center;
	cursor: pointer;

	&:hover, &:active, &:focus {
		background-color: rgb(125, 236, 208);
	}
}

h3 {
	flex-grow: 1;
}

.selected {
	background-color: rgb(145, 195, 241) !important;
	cursor: default;
}

.side-by-side {
	display: flex;
}

#content {
	border: solid 1px grey;
	padding: 0 1em;
	border-radius: 0 .75em .75em .75em;
	max-width: 600px;
	font-size: 12pt;
}